ol.instructions {
	list-style: none;
	counter-reset: list-counter;
}
ol.instructions li {
	margin-bottom: 1rem;
 
}
ol.instructions > li {
	counter-increment: list-counter;
	margin-bottom: 2rem;
}
ol.instructions > li::before {
	content: counter(list-counter);
	color: #00a651;
	font-weight: bold;
	background-color: #e5f6ed;
	width: 2rem;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	margin-bottom: 0.5rem;
  left: -25px;
}
